.container {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
        'aside header'
        'aside content';

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
}

