.header__side {
    margin-top: 22px;
    padding-left: 18px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #F7F7F7;
    
}

