
.title {
    text-align: center;
    font-size: 28px;
    line-height: 33px;
    color: #202002;
    margin-bottom: 5px;
}

.descr {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 50px;
    letter-spacing: .13px;
    color: #202002;
    opacity: 0.5;
}